body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #2c0303ee;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f281;
  }
  
  .login-form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #1ca838;
    color: rgba(22, 182, 107, 0.048);
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c29210;
  }